USE [master]
GO
/****** Object:  Database [Eniwine]    Script Date: 12/15/2017 1:04:45 PM ******/
CREATE DATABASE [Eniwine]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Eniwine', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Eniwine.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Eniwine_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Eniwine_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Eniwine].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Eniwine]
GO
USE [Eniwine]
GO
/****** Object:  Table [dbo].[Armas]    Script Date: 12/15/2017 1:04:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Armas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](50) NULL,
 CONSTRAINT [PK_Armas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locais]    Script Date: 12/15/2017 1:04:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locais](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](50) NULL,
 CONSTRAINT [PK_Locais] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suspeitos]    Script Date: 12/15/2017 1:04:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suspeitos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](50) NULL,
 CONSTRAINT [PK_Suspeitos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Armas] ON 

INSERT [dbo].[Armas] ([Id], [Descricao]) VALUES (1, N'Cajado Devastador')
INSERT [dbo].[Armas] ([Id], [Descricao]) VALUES (2, N'Phaser')
INSERT [dbo].[Armas] ([Id], [Descricao]) VALUES (3, N'Peixeira')
SET IDENTITY_INSERT [dbo].[Armas] OFF
SET IDENTITY_INSERT [dbo].[Locais] ON 

INSERT [dbo].[Locais] ([Id], [Descricao]) VALUES (1, N'Etérnia')
INSERT [dbo].[Locais] ([Id], [Descricao]) VALUES (2, N'Vulcano')
INSERT [dbo].[Locais] ([Id], [Descricao]) VALUES (3, N'Tatooine')
SET IDENTITY_INSERT [dbo].[Locais] OFF
SET IDENTITY_INSERT [dbo].[Suspeitos] ON 

INSERT [dbo].[Suspeitos] ([Id], [Descricao]) VALUES (1, N'Esqueleto')
INSERT [dbo].[Suspeitos] ([Id], [Descricao]) VALUES (2, N'Khan')
INSERT [dbo].[Suspeitos] ([Id], [Descricao]) VALUES (3, N'Darth vader')
SET IDENTITY_INSERT [dbo].[Suspeitos] OFF
USE [master]
GO
